<div class="easyui-tabs" style="height:auto;" fit="true">  

<div title="待结列表" style="margin:0px;">
    <table id="dg_cpigs" class="easyui-datagrid" toolbar="#toolbar_cpigs" >  
        <thead data-options="frozen:true">
            <tr>
                <th field="raiserID"     sortable="true" width="60"  >编号</th>  
                <th field="raiserName"         sortable="true" width="60" >养户</th>  
                <th field="areaName"     sortable="true" width="60">服务点</th> 
            </tr>
        </thead>
        <thead>  
            <tr>  
            <th field="batch"    width="60" >批次</th>
            <th field="grantDate" formatter="dateFormatter"  sortable="true"  width="80"  >调入日期</th> 
            <th field="grantDayOld" width="60" >调入日龄</th>
            <th field="feedDays" formatter="formatFeedDays"   width="60" >饲养天数</th>
            <th field="closeDate" formatter="dateFormatter"  sortable="true"  width="80"  >清栏日期</th> 
            <th field="closeDays" formatter="formatcloseDays"   width="60" >清栏天数</th>
            <th field="grantNum" width="60" >调入数量</th>  
            <th field="salesNum"   width="60" >销售数量</th>
            <th field="deathNum"   width="60" >死亡数量</th>
            <th field="liveRate" data-options="formatter:function(val,row){return ((val*100).toFixed(2))+'%';},align:'right'"  width="60" >成活率</th>
            <th field="source"   width="200" >来源</th>
            <th field="opt" formatter="formatCheckoutOpt">结算</th>
            </tr>  
        </thead>  
    </table>  
    <div id="toolbar_cpigs">  
        <div>
            <a href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true" 
                    onclick="loadcPigStatistics()">统计</a>
            <span id="cpigStatistics"></span>

                <script>
                    function loadcPigStatistics() {
                        $.ajax({
                            url: '/Checkout/ClosurePig?t=ClosurePigStatistics',
                            data: $('#dg_cpigs').datagrid('options').queryParams,
                            cache: false,
                            success: function (data) {
                                $('#cpigStatistics').html(data);
                            }
                        });
                    }
                </script>
        </div>

        <div style="margin:3px;">
            <form id="fm_cpigfilter">
            <span style="margin:0 5px">区域
                @Html.DropDownList("areaID_0", ViewModelHelper.GetAuthoryFieldItems(Request["areaID_0"], true), new { @style = "width:auto;" }) 
            </span>
            <span style="margin:0 5px">编号
                @Html.TextBox("raiserID_0", Request["raiserID_0"], new { @style = "width:50px;" })
            </span>
            <span style="margin:0 5px">养户
                @Html.TextBox("raiserName_4", Request["raiserName_4"], new { @style = "width:60px;" })
            </span>

            <span style="margin:0 5px">清栏日期
                @Html.TextBox("closeDate_1", Request["closeDate_1"], new { @class = "easyui-datebox", @style = "width:90px;" })
                -
                @Html.TextBox("closeDate_2", Request["closeDate_2"], new { @class = "easyui-datebox", @style = "width:90px;" })
            </span>

            <span style="margin:0 5px">
                <a href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" 
                    onclick="doSearch('#fm_cpigfilter','#dg_cpigs')">查找</a>
            </span>
            </form>
        </div>

    </div>  
    <script type="text/javascript">

        $(function () {
            var data = getFormJson('#fm_cpigfilter');
            $('#dg_cpigs').datagrid({
                url: '/Checkout/ClosurePig',
                queryParams: data,
                onLoadSuccess: function () {
                        loadcPigStatistics();
                    }
            });

        });

        function formatFeedDays(val, row) {
            var d = new Date();
            var pd = new Date(parseInt(row.grantDate.replace("/Date(", "").replace(")/", ""))).format("yyyy-MM-dd");
            var cd = new Date(parseInt(row.closeDate.replace("/Date(", "").replace(")/", ""))).format("yyyy-MM-dd");
            return dateDiff('D', pd, cd);
        }

        function formatcloseDays(val, row) {
            var d = new Date();
            var pd = new Date(parseInt(row.closeDate.replace("/Date(", "").replace(")/", ""))).format("yyyy-MM-dd");
            var today = d.getFullYear() + '/' + (d.getMonth() + 1) + '/' + d.getDate();
            return dateDiff('D', pd, today);
        }

        function formatCheckoutOpt(val, row) {

            var s = $('<div>').html(
                $('<a>').attr({ 'title': '结算', 'rowID': row.raiserID, 'onclick': 'newCheckout(this)' })
                .linkbutton({
                    iconCls: 'icon-add',
                    plain: true
                })
            );
            return s.html();
        }

        function newCheckout(target) {
            var key = $(target).attr('rowID');
            var url = '/Checkout/Update?rspType=view&key=' + key;
            newMainPanel(url, '结算', 'icon-checkout');
        }
    </script>


</div>
</div>