


<div style="line-height:18px;">

        调入头数： @ViewData["今年调入头数"] <br />
        销售头数： @ViewData["今年销售头数"] <br />
        死亡头数： @ViewData["今年死亡头数"] <br />
        批次成活率： @string.Format("{0:p}",ViewData["批次成活率"]) <br />
        在养成活率： @string.Format("{0:p}",ViewData["在养成活率"]) <br />
        3.5还原料肉比： @string.Format("{0:f}",ViewData["3.5还原料肉比"]) <br />
        全程料肉比： @string.Format("{0:f}",ViewData["全程料肉比"]) <br />

</div>
